<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Montserrat.cl</title>
</head>
<body>
	<ul>
		<li><a href="<?= base_url()?>/servicio/administrarservicio">Servicios</a></li>
		<li><a href="<?= base_url()?>/servicio/administrarproveedor">Proveedor</a></li>
		<li><a href="<?= base_url()?>/servicio/administrarcuenta">cuenta</a></li>
		<li><a href="<?= base_url()?>/servicio/administrarCliente">Administrar Clientes</a></li>
		<li><a href="<?= base_url()?>/negocio/">parametros de negocio</a></li>
		<li><a href="<?= base_url()?>detalles/">Ingresar Detalle</a></li>
	</ul>
</body>
</html>