<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Montserrat.cl</title>
</head>
<body>
	<ul>
		<li><a href="http://localhost/montserrat/index.php/servicio/administrarservicio">Servicios</a></li>
		<li><a href="http://localhost/montserrat/index.php/servicio/administrarproveedor">Proveedor</a></li>
		<li><a href="http://localhost/montserrat/index.php/servicio/administrarcuenta">cuenta</a></li>
		<li><a href="http://localhost/montserrat/index.php/negocio/">parametros de negocio</a></li>
	</ul>
</body>
</html>