<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Proveedor</title>
</head>
<body>
	<form action="<?= base_url()?>/servicio/ingresarProveedor" method="POST">
		<label for="analisis">Analitico:</label>
		<input type="text" name="analisis"><br />
		<label for="razonSocial">Razon Social:</label>
		<input type="text" name="razonSocial"><br />
		<label for="ingresarServicio">Servicio</label>
		<input type="text" name="ingresarServicio"><br />
		<input type="submit" name="enviar">
	</form>
	<form action="<?= base_url()?>/servicio/eliminarProveedor" method="POST">
		<label for="ELIMINAR">Analitico</label>
		<input type="text" name="ELIMINAR"><br />
		<input type="submit" name="Eliminar">
	</form>
	<form action="<?= base_url()?>/servicio/modificarProveedor" method="POST">
	<label for="modificarAnalisis">Analitico</label>
	<input type="text" name="modificarAnalisis"><br />
	<label for="modificarRazonSocial">Razon Social</label>
	<input type="text" name="modificarRazonSocial"><br />
	<label for="modificarServicio">Servicio</label>
	<input type="text" name="modificarServicio"><br />
	<input type="submit" name="Modificar">
	</form>
</body>
</html>