<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>Mantenedor Luz</h1>
	<form action="http://localhost/montserrat/index.php/servicio/ingresarServicio"method="POST">
		<label for="ingresarID">Identificador:</label>
		<input type="text" name="ingresarID"><br />
		<label for="ingresarDescripcion">Descripcion</label>
		<input type="text" name="ingresarDescripcion"><br />
		<label for="ingresarCuenta">Cuenta</label>
		<input type="text" name="ingresarCuenta"><br />
		<input type="submit">
	</form>
	<form action="http://localhost/montserrat/index.php/servicio/modificarServicio"method="POST">
		<label for="modificarID">Identificador</label>
		<input type="text" name="modificarID"><br />
		<label for="modificarDescripcion">Descripción</label>
		<input type="text" name="modificarDescripcion"><br />
		<label for="modificarCuenta">Cuenta:</label>
		<input type="text" name="modificarCuenta"><br />
		<input type="submit">
	</form>
	<form action="http://localhost/montserrat/index.php/servicio/eliminarServicio"method="POST">
		<label for="eliminarID">Identificador</label>
		<input type="text" name="eliminarID"><br />
		<input type="submit">
	</form>
</body>
</html>